form name="moneyInForm" ng-submit="submit(moneyInForm)"
  h3 Money coming in
  fieldset
    dl
      dt Are you self-employed
      dd
        label: input>(
          type="radio"
          value="1"
          name="self_employed"
          ng-model="money.coming_in.self_employed"
          ng-required="true"
        )  Yes

        label: input>(
          type="radio"
          value="0"
          name="self_employed"
          ng-model="money.coming_in.self_employed"
          ng-required="true"
        )  No

  h4 Your money coming in last month
  fieldset
    dl ng-repeat="item in moneyData.coming_in"
      dt ng-repeat="(name, label) in item"
        = label_tag '{{name}}', caption: '{{label}}'
      dd ng-repeat="(name, label) in item"
        input.form-control.m-small>(
          type="number"
          id="{{name}}"
          max="250000"
          min="0"
          ng-model="money.coming_in.me[name].value"
          ng-required="true"
        )
        select.form-control(
          ng-model="money.coming_in.me[name].frequency"
          ng-options="o.id as o.label for o in timeFrequency"
        )

  div ng-if="has_partner"
    h4 Partner’s money coming in last month
    fieldset
      dl  ng-repeat="item in moneyData.coming_in"
        dt ng-repeat="(name, label) in item"
          = label_tag '{{name}}', caption: '{{label}}'
        dd ng-repeat="(name, label) in item"
          input.form-control.m-small>(
            type="number"
            id="{{name}}"
            max="250000"
            min="0"
            ng-model="money.coming_in.partner[name].value"
            ng-required="true"
          )
          select.form-control(
            ng-model="money.coming_in.partner[name].frequency"
            ng-options="o.id as o.label for o in timeFrequency"
          )

  div ng-if="has_children"
    h4 Dependants
    fieldset
      dl
        dt Dependants aged 16 or over
        dd
          label: input>(
            type="radio"
            value="1"
            name="dependants_old"
            ng-model="money.coming_in.dependants.old"
            ng-required="true"
          )  Yes

          label: input>(
            type="radio"
            value="0"
            name="dependants_old"
            ng-model="money.coming_in.dependants.old"
            ng-required="true"
          )  No
      dl
        dt Children aged 15 or under
        dd
          label: input>(
            type="radio"
            value="1"
            name="dependants_young"
            ng-model="money.coming_in.dependants.young"
            ng-required="true"
          )  Yes

          label: input>(
            type="radio"
            value="0"
            name="dependants_young"
            ng-model="money.coming_in.dependants.young"
            ng-required="true"
          )  No

  p.action: button Next step
