form name="propertyForm" ng-submit="submit(propertyForm)"
  h3 My property
  p A property could be a house, a flat, a garage, a boat or a caravan.
  p If you own more than one property, you can add another property later. Start with the property that is worth the most.

  fieldset ng-repeat="property in moneyData.properties"
    dl ng-repeat="item in property"
      dt ng-repeat="(name, label) in item" ng-if="name != 'is_disputed' && name != 'is_main'"
        = label_tag '{{name}}', caption: '{{label}}'
      dd ng-repeat="(name, label) in item" ng-if="name != 'is_disputed' && name != 'is_main'"
        input.form-control.m-small>(
          type="number"
          min="0"
          id="{{name}}"
          max="250000"
          ng-model="money.properties[0][name]"
          ng-required="true"
        )
      dt ng-repeat="(name, label) in item" ng-if="name == 'is_disputed' || name == 'is_main'" {{label}}
      dd ng-repeat="(name, label) in item" ng-if="name == 'is_disputed' || name == 'is_main'"
        label: input>(
          type="radio"
          value="1"
          name="{{name}}"
          ng-model="money.properties[0][name]"
          ng-required="true"
        )  Yes

        label: input>(
          type="radio"
          value="0"
          name="{{name}}"
          ng-model="money.properties[0][name]"
          ng-required="true"
        )  No

  p.action: button Next step
