<h1>Can I get legal aid?</h1><p class="subtitle">This service tells you if you might be able to get legal aid in England and Wales - and suggests other sources of help if you can’t.</p><p>You can only use this service for non-criminal (civil) problems. If you have been charged with a crime, talk to your solicitor about <a target="_blank" href="https://www.gov.uk/legal-aid/how-to-claim">criminal legal aid</a>.</p><h3 id="before-you-start">Before you start</h3>

<p>To use this service, you’ll need:</p>

<ul>
  <li>last month’s payslips (if you’re working)</li>
  <li>last month’s  bank statements</li>
  <li>details of any benefits you got last month</li>
</ul>
<p class="action"><button class="button button-get-started" ui-sref="checker({ stage: 'problem' })">Start</button><small style="display: block">If you might be able to get legal aid, you can speak to an operator about your problem at the end of this service.</small></p><h3 id="what-is-legal-aid">What is legal aid?</h3>

<ul>
  <li>it can help you cover the cost of legal advice</li>
  <li>it can get someone to speak for you in court</li>
  <li>it can help you resolve family problems without going to court</li>
</ul>

<h3 id="who-can-get-legal-aid">Who can get legal aid?</h3>

<p>You (and your partner if you have one) must meet BOTH of the following conditions:</p>

<ul>
  <li>your income (or combined income if you have a partner) should not
be more than £2,657 a month before tax</li>
  <li>your savings (or combined savings if you have a partner) should not
be more than £8,000</li>
  <li>your income (or combined income if you have a partner) after certain
outgoings have been deducted must not be more than £733 a month -
this service will ask you more about these outgoings</li>
</ul>
