---
layout: default
current: your-problem-2
next: begin.html
prev: your-problem.html
---

{% comment %}
{% include progress-nav-b.html step=1 %}
{% endcomment %}

<div data-dependant-field="your_problem-category" data-dependant-value="housing">
  <header class="PageHeader">
    <h1>Your problem</h1>
  </header>

  <form action="{{ page.next }}" method="get" class="">
    <p id="id_your_problem-step2-label">Choose <strong>one</strong> of the following statements.
      <br>You'll be able to tell us more about your problem in your own words later.</p>

    <div class="FormBlock FormBlock--grey">
      <div>
        <div class="FormRow">
          <label for="id_your_problem-step2_0" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_0" value="being_evicted" required="required">I am being evicted
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2_1" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_1" value="homeless">I am homeless
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2_2" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_2" value="cant_pay">I can't pay my rent/mortgage and may become homeless
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2_3" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_3" value="asbo">I have been accused of anti social behaviour
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2_4" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_4" value="safety">My rented home is in bad condition and isn't safe
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2_5" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_5" value="threat">I am being threatened by my neighbour or landlord
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2_6" class="FormRow-label">
            <input type="radio" name="your_problem-step2" id="id_your_problem-step2_6" value="evicted">My landlord has thrown me out
          </label>
        </div>
      </div>
    </div>
  </form>
    
  <form action="http://0.0.0.0:8002/checker/your_problem/" method="post" class="">
    <input id="id_checker_wizard-current_step" name="checker_wizard-current_step" type="hidden" value="your_problem">
    <input type="hidden" name="your_problem-category" id="id_your_problem-category_1" value="housing">
    {% include form-actions.html %}
  </form>
</div>

<div data-dependant-field="your_problem-category" data-dependant-value="violence">
  <header class="PageHeader">
    <h1>Your problem</h1>
  </header>

  <form action="{{ page.next }}" method="get" class="">
    <p id="id_your_problem-step2c-label">Choose <strong>one</strong> of the following statements.
      <br>You'll be able to tell us more about your problem in your own words later.</p>

    <div class="FormBlock FormBlock--grey">
      <div>
        <div class="FormRow">
          <label for="id_your_problem-step2c_0" class="FormRow-label">
            <input type="radio" name="your_problem-step2c" id="id_your_problem-step2c_0" value="hurt" required="required">My partner has hurt me and is abusive
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2c_1" class="FormRow-label">
            <input type="radio" name="your_problem-step2c" id="id_your_problem-step2c_1" value="child_hurt">My partner has hurt my child and is abusive
          </label>
        </div>
      </div>
    </div>
  </form>
    
  <form action="http://0.0.0.0:8002/checker/your_problem/" method="post" class="">
    <input id="id_checker_wizard-current_step" name="checker_wizard-current_step" type="hidden" value="your_problem">
    <input type="hidden" name="your_problem-category" id="id_your_problem-category_1" value="housing">
    {% include form-actions.html %}
  </form>
</div>

<div data-dependant-field="your_problem-category" data-dependant-value="debt">
  <header class="PageHeader">
    <h1>Your problem</h1>
  </header>

  <form action="{{ page.next }}" method="get" class="">
    <p id="id_your_problem-step2b-label">Choose <strong>one</strong> of the following statements.
      <br>You'll be able to tell us more about your problem in your own words later.</p>

    <div class="FormBlock FormBlock--grey">
      <div>
        <div class="FormRow">
          <label for="id_your_problem-step2b_0" class="FormRow-label">
            <input type="radio" name="your_problem-step2b" id="id_your_problem-step2b_0" value="loan_credit" required="required">I owe money on a loan or credit card payment
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2b_1" class="FormRow-label">
            <input type="radio" name="your_problem-step2b" id="id_your_problem-step2b_1" value="bankrupt_homerisk">I am being made bankrupt and my home is at risk
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2b_2" class="FormRow-label">
            <input type="radio" name="your_problem-step2b" id="id_your_problem-step2b_2" value="lose_property">I could lose my property to pay back money I owe
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2b_3" class="FormRow-label">
            <input type="radio" name="your_problem-step2b" id="id_your_problem-step2b_3" value="mortgage_risk">I owe money on my mortgage and my home is at risk
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2b_4" class="FormRow-label">
            <input type="radio" name="your_problem-step2b" id="id_your_problem-step2b_4" value="unpaid_bill">I have a bill to pay and I don’t have the money
          </label>
        </div>
      </div>
    </div>
  </form>
    
  <form action="http://0.0.0.0:8002/checker/your_problem/" method="post" class="debt-frm">
    <input id="id_checker_wizard-current_step" name="checker_wizard-current_step" type="hidden" value="your_problem">
    <input type="hidden" name="your_problem-category" id="id_your_problem-category_2" value="debt">
    {% include form-actions.html %}
  </form>
</div>

<div data-dependant-field="your_problem-category" data-dependant-value="marriage">
  <header class="PageHeader">
    <h1>Your problem</h1>
  </header>

  <form action="{{ page.next }}" method="get" class="">
    <p id="id_your_problem-step2d-label">Choose <strong>one</strong> of the following statements.
      <br>You'll be able to tell us more about your problem in your own words later.</p>

    <div class="FormBlock FormBlock--grey">
      <div>
        <div class="FormRow">
          <label for="id_your_problem-step2d_0" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_0" value="disagree_children" required="required">I need help with a disagreement about children, money or property with my ex partner
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_1" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_1" value="child_taken">My child has been taken into care
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_2" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_2" value="child_almost_taken">I’m worried my child will be taken into care
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_3" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_3" value="child_poorly_lookedafter">My child is in care and isn’t being looked after properly
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_4" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_4" value="divorcing">I am divorcing or splitting up with my partner
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_5" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_5" value="child_taken_no_permission">My child has been taken by their other parent without my permission
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_6" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_6" value="forced_marriage">I am trying to stop a forced marriage
          </label>
        </div>

        <div class="FormRow">
          <label for="id_your_problem-step2d_7" class="FormRow-label">
            <input type="radio" name="your_problem-step2d" id="id_your_problem-step2d_7" value="maintenance_order_abroad">I want a court to enforce a maintenance order made in another country
          </label>
        </div>
      </div>
    </div>
  </form>
    
  <form action="http://0.0.0.0:8002/checker/your_problem/" method="post" class="debt-frm">
    <input id="id_checker_wizard-current_step" name="checker_wizard-current_step" type="hidden" value="your_problem">
    <input type="hidden" name="your_problem-category" id="id_your_problem-category_2" value="debt">
    {% include form-actions.html %}
  </form>
</div>

<div data-dependant-field="your_problem-category" data-dependant-value="none">
  <header class="PageHeader">
    <h1>Tell us about your problem</h1>
  </header>

  <p>What is putting you at immediate risk? Enter your problem here to see if you can get legal aid and find out where to go next for help.</p>

  <form action="{{ page.next }}" method="get" class="">
    <fieldset class="FormBlock">
      <p>Remember you can only get civil legal aid if you are at <strong>immediate risk of serious harm</strong>, <strong>losing your home</strong> and <strong>have very limited money</strong>.</p>

      <div class="FormRow cf">
        <label for="your_problem-extra_notes">
          <span class="FormRow-label">
            Tell us more about your problem in your own words here, include important details and events
          </span>
          <textarea class="form-control" cols="80" id="your_problem-extra_notes" name="your_problem-extra_notes" rows="5" required="required"></textarea>
        </label>
      </div>
    </fieldset>
  </form>
    
  <form action="http://0.0.0.0:8002/checker/your_problem/" method="post" class="">
    <input id="id_checker_wizard-current_step" name="checker_wizard-current_step" type="hidden" value="your_problem">
    <input type="hidden" name="your_problem-category" id="id_your_problem-category_1" value="housing">

    <div class="FormActions">
      <button type="submit" class="Button">Next step</button>
      <a href="#" class="Button Button--secondary">Quit</a>
      {% if page.prev %}
      <a href="{{ page.prev }}">Go back to previous step</a>
      {% endif %}
    </div>
  </form>
</div>

