@charset 'utf-8';

@import 'bourbon';

@import 'govuk_frontend_toolkit/stylesheets/colours';
// @import 'govuk_frontend_toolkit/stylesheets/conditionals';
@import 'govuk_frontend_toolkit/stylesheets/css3';
// @import 'govuk_frontend_toolkit/stylesheets/device-pixels';
// @import 'govuk_frontend_toolkit/stylesheets/font_stack';
// @import 'govuk_frontend_toolkit/stylesheets/measurements';
// @import 'govuk_frontend_toolkit/stylesheets/shims';
@import 'govuk_frontend_toolkit/stylesheets/typography';
@import 'govuk_frontend_toolkit/stylesheets/grid_layout';

@import 'govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta';
@import 'govuk_frontend_toolkit/stylesheets/design-patterns/buttons';

@import 'fonts';

@import 'govuk_template/conditionals2';
@import 'govuk_template/basic';
@import 'govuk_template/header';
@import 'govuk_template/footer';


$medium-screen: max-width 640px;

$susy: (
  columns: 12,
  container: 960px
);

@import 'typography';
@import 'forms';
@import 'elements/buttons';
@import 'main';
@import 'field-help';
@import 'box';
@import 'table';
@import 'util';
