h1 Can I get legal aid?
p.subtitle The service will tell you if you might be able to get legal aid in England and Wales.

p Don’t use this service if you’ve been charged with a crime.


p.action
  button.button.button-get-started ui-sref="checker({ stage: 'problem' })" Start

markdown:
  ### What is legal aid?

  * it can help you cover the cost of legal advice
  * it can get someone to speak for you in court
  * it can help you resolve family problems without going to court

  ### Who can get legal aid?

  * you must have less than £2,657 a month coming in before tax AND
  * you must have less than £8,000 in savings or in a home you own

  This includes your partner’s money if you live together.

  ### Before you start

  To use this tool, you’ll need:

  * your payslips for the last month (if you’re working)
  * your bank statements for the last month
  * details of any benefits you got last month
