{% if include.option == "a" %}
  <div class="FormRow FormRow--group">
    <label for="id_your_problem-step4a_1" class="FormRow-label FormRow-label--odd">
      <input type="radio" name="your_problem-step4a" id="id_your_problem-step4a_1" value="condition_photo" class="js-Conditional" required="required">I have taken photos of my living conditions
    </label>
  </div>

  <div class="FormRow FormRow--group">
    <label for="id_your_problem-step4a_2" class="FormRow-label">
      <input type="radio" name="your_problem-step4a" id="id_your_problem-step4a_2" value="condition_surveyor" class="js-Conditional">I have a surveyor’s report about my living conditions
    </label>
  </div>
{% else %}
  <div class="FormRow FormRow--group">
    <label for="your_problem_{{ include.id }}_1" class="FormRow-label FormRow-label--odd">
      <input type="radio" name="your_problem_{{ include.id }}" id="your_problem_{{ include.id }}_1" value="condition_doc" class="js-Conditional" required="required">I have a doctor’s letter confirming my medical problem
    </label>
  </div>

  <div class="FormRow FormRow--group">
    <label for="your_problem_{{ include.id }}_2" class="FormRow-label">
      <input type="radio" name="your_problem_{{ include.id }}" id="your_problem_{{ include.id }}_2" value="condition_doc_fam" class="js-Conditional">I have a doctor’s letter confirming a family member’s medical problem
    </label>
  </div>
{% endif %}