<section class="SummaryBlock">
  <h2 class="SummaryBlock-heading">Details you've already given</h2>
  <ul class="SummaryBlock-list">
    <li>You are looking for help about violence</li>
    <li>You don't live with a partner</li>
    <li>You or your partner are not on Income Support benefits</li>
    <li>You don't have children dependent on you</li>
    <li>You or your partner are not 60 or over</li>
  </ul>
  <a href="your-problem.html" class="SummaryBlock-edit">Change these answers</a>
</section>

<section class="SummaryBlock">
  <h2 class="SummaryBlock-heading">Your finances</h2>
  <ul class="SummaryBlock-list">
    <li>You don't have any money saved in a bank or building society</li>
    <li>You don't have any money in investments, shares, ISAs</li>
    <li>You don't have any valuable items</li>
    <li>You don't have any money owned to you</li>
  </ul>

  <a href="your-finances.html" class="SummaryBlock-edit">Change these answers</a>
</section>

<section class="SummaryBlock">
  <h2 class="SummaryBlock-heading">Your income</h2>
  <ul class="SummaryBlock-list">
    <li>Your earnings: £910.51</li>
    <li>You are self employed</li>
    <li>You don't have any other income</li>
    <li>Your partner doesn't have earnings</li>
    <li>Your partner is not self employed</li>
    <li>Your partner doesn't have any other income</li>
  </ul>

  <a href="your-income.html" class="SummaryBlock-edit">Change these answers</a>
</section>

<section class="SummaryBlock">
  <h2 class="SummaryBlock-heading">Your expenses</h2>
  <ul class="SummaryBlock-list">
    <li>Your mortgage or rent: £0.00</li>
    <li>Your National Insurance and tax: £0.00</li>
    <li>Your maintenance: £0.00</li>
    <li>Your childcare: £0.00</li>
    <li>Your payments being made towards a contribution order: £0.00</li>
  </ul>

  <a href="your-expenses.html" class="SummaryBlock-edit">Change these answers</a>
</section>
