---
layout: default
next: your-problem.html
prev: your-expenses.html
---

{% include progress-nav.html step=3 %}

<header class="PageHeader">
  <h1>Your finances</h1>
</header>

<p>Whether or not you qualify for legal aid depends on how much money you and your partner have. To find out if you’re financially eligible, please answer these questions as honestly and fully as you can.</p>

<form method="get" action="{{ page.next }}">
  <section>
    <input id="id_property-TOTAL_FORMS" name="property-TOTAL_FORMS" type="hidden" value="1">
    <input id="id_property-INITIAL_FORMS" name="property-INITIAL_FORMS" type="hidden" value="0">
    <input id="id_property-MAX_NUM_FORMS" name="property-MAX_NUM_FORMS" type="hidden" value="20">

    <div class="clearfix">
      <h2 id="property-0-label" class="FormBlock-label FormBlock-label--inline">Your property</h2>
    </div>

    <div class="FormBlock FormBlock--grey" aria-labelledby="property-0-label" role="group">
      <div class="FormRow cf">
        <label for="id_property-0-worth" id="id_property-0-worth-label">
          <span class="FormRow-label">
            How much is it worth?
          </span>
          <span class="FormRow-prefix">£</span>
          <input id="id_property-0-worth" max="9999999999" min="0" name="property-0-worth" step="0.01" type="number" required>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_property-0-mortgage_left" id="id_property-0-mortgage_left-label">
          <span class="FormRow-label">
            How much is left to pay on the mortgage?
          </span>
          <span class="FormRow-prefix">£</span>
          <input id="id_property-0-mortgage_left" max="9999999999" min="0" name="property-0-mortgage_left" step="0.01" type="number" required>
        </label>
      </div>

      <div class="FormRow cf" role="radiogroup" aria-labelledby="id_property-0-owner-label">
        <p class="FormRow-label" id="id_property-0-owner-label">
          Is the property owned by you or is it in joint names?
        </p>

        <label for="id_property-0-owner_0" class="FormRow-option">
          <input type="radio" name="property-0-owner" id="id_property-0-owner_0" value="1" required>Owned by me
        </label>

        <label for="id_property-0-owner_1" class="FormRow-option">
          <input type="radio" name="property-0-owner" id="id_property-0-owner_1" value="0">Joint names
        </label>
      </div>

      <div class="FormRow cf" role="radiogroup" aria-labelledby="id_property-0-disputed-label">
        <p class="FormRow-label" id="id_property-0-disputed-label">
          Is this property disputed?
        </p>

        <label for="id_property-0-disputed_0" class="FormRow-option">
          <input type="radio" name="property-0-disputed" id="id_property-0-disputed_0" value="1" required>Yes
        </label>

        <label for="id_property-0-disputed_1" class="FormRow-option">
          <input type="radio" name="property-0-disputed" id="id_property-0-disputed_1" value="0">No
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_property-0-share" id="id_property-0-share-label">
          <span class="FormRow-label">
            What is your share of the property?
          </span>
          <input class="FormRow-field--s" id="id_property-0-share" max="100" min="0" name="property-0-share" type="number" required>
          <span class="FormRow-suffix">%</span>
        </label>
      </div>
    </div>

    <div class="FormBlock-actions">
      <button class="Button Button--secondary" type="button" name="submit" value="add-property">Add another property</button>
    </div>
  </section>

  <section class="Grid">
    <h2 id="your_savings-label" class="FormBlock-label">Your savings</h2>

    <div class="FormBlock FormBlock--grey" aria-labelledby="your_savings-label" role="group">
      <div class="FormRow cf">
        <label for="id_your_savings-bank" id="id_your_savings-bank-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any money saved in a bank or building society?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_your_savings-bank" max="9999999999" min="0" name="your_savings-bank" step="0.01" type="number" required>
          </span>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_your_savings-investments" id="id_your_savings-investments-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any investments, shares, ISAs?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_your_savings-investments" max="9999999999" min="0" name="your_savings-investments" step="0.01" type="number" required>
          </span>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_your_savings-valuable_items" id="id_your_savings-valuable_items-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any valuable items over £££ each?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_your_savings-valuable_items" max="9999999999" min="0" name="your_savings-valuable_items" step="0.01" type="number" required>
          </span>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_your_savings-money_owed" id="id_your_savings-money_owed-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any money owed to you?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_your_savings-money_owed" max="9999999999" min="0" name="your_savings-money_owed" step="0.01" type="number" required>
          </span>
        </label>
      </div>
    </div>
  </section>

  <section class="Grid">
    <h2 id="partners_savings-label" class="FormBlock-label">Your partner's savings</h2>

    <div class="FormBlock FormBlock--grey" aria-labelledby="partners_savings-label" role="group">
      <div class="FormRow cf">
        <label for="id_partners_savings-bank" id="id_partners_savings-bank-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any money saved in a bank or building society?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_partners_savings-bank" max="9999999999" min="0" name="partners_savings-bank" step="0.01" type="number" required>
          </span>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_partners_savings-investments" id="id_partners_savings-investments-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any investments, shares, ISAs?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_partners_savings-investments" max="9999999999" min="0" name="partners_savings-investments" step="0.01" type="number" required>
          </span>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_partners_savings-valuable_items" id="id_partners_savings-valuable_items-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any valuable items over £££ each?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_partners_savings-valuable_items" max="9999999999" min="0" name="partners_savings-valuable_items" step="0.01" type="number" required>
          </span>
        </label>
      </div>

      <div class="FormRow cf">
        <label for="id_partners_savings-money_owed" id="id_partners_savings-money_owed-label">
          <span class="Grid-col Grid-col--2-3">
            Do you have any money owed to you?
          </span>
          <span class="Grid-col Grid-col--1-3">
            <span class="FormRow-prefix">£</span>
            <input id="id_partners_savings-money_owed" max="9999999999" min="0" name="partners_savings-money_owed" step="0.01" type="number" required>
          </span>
        </label>
      </div>
    </div>
  </section>

  {% include form-actions.html %}
</form>
