h1 Your income

form name="moneyInForm" ng-submit="submit(moneyInForm)"
  div(
    ng-repeat="item in income"
    ng-if="item.me || item.partner && has_partner"
  )
    h3 ng-if="item.partner" Your partner
    fieldset ng-repeat="set in item"
      / Wages
      dl(
        ng-repeat="field in set"
        ng-if="field.name == 'earnings' && is_working"
      )
        dt
          = label_tag '{{field.name}}', caption: '{{field.label}}'
          help-text field="field"
        dd ng-repeat="(name, label) in item"
          input.form-control.m-small>(
            type="{{field.type}}"
            id="{{field.name}}"
            max="250000"
            min="0"
            ng-model="field.value"
            ng-required="true"
          )
          select.form-control(
            ng-model="field.frequency.value"
            ng-options="o.name as o.label for o in field.frequency.options"
          )
      / All other incomes
      dl ng-repeat="field in set" ng-if="field.name != 'earnings'"
        dt
          = label_tag '{{field.name}}', caption: '{{field.label}}'
          help-text field="field"
        dd ng-repeat="(name, label) in item"
          input.form-control.m-small>(
            type="{{field.type}}"
            id="{{field.name}}"
            max="250000"
            min="0"
            ng-model="field.value"
            ng-required="true"
          )
          select.form-control(
            ng-model="field.frequency.value"
            ng-options="o.name as o.label for o in field.frequency.options"
          )

  p.action: button.button Next step
