go-back-link

h1 Your income

p
  ' We need to know how much money you have coming in, because
  ' this affects whether or not you can get legal aid.
  ' Please answer these questions as fully and accurately as you can.

form name="incomeForm" ng-submit="submit(incomeForm)" ng-controller="IncomeCtrl"
  div ng-repeat="item in income" ng-if="item.me"
    h3 ng-if="hasPartnerNotInDispute" Your personal income
    p ng-if="hasPartnerNotInDispute"
      ' This section is for any money that is paid to you personally
      ' - for example, your wages. You should record income for your partner,
      | if you have one, in the next section.
    fieldset ng-repeat="set in item"
      ng-include(
        src="'partials/-money-field.html'"
        ng-repeat="field in set"
        ng-if="isWorking && (field.name == 'earnings' || field.name == 'tax_paid' || field.name == 'ni' || field.name == 'working_tax_credit')"
      )
      ng-include(
        src="'partials/-money-field.html'"
        ng-repeat="field in set"
        ng-if="field.name != 'earnings' && field.name != 'tax_paid' && field.name != 'ni' && field.name != 'working_tax_credit'"
      )

  div ng-repeat="item in income" ng-if="hasPartnerNotInDispute && item.partner"
    h3 ng-if="hasPartnerNotInDispute" Your partner’s income
    fieldset ng-repeat="set in item"
      ng-include(
        src="'partials/-money-field.html'"
        ng-repeat="field in set"
        ng-if="isWorking && (field.name == 'earnings' || field.name == 'tax_paid' || field.name == 'ni' || field.name == 'working_tax_credit')"
      )
      ng-include(
        src="'partials/-money-field.html'"
        ng-repeat="field in set"
        ng-if="field.name != 'earnings' && field.name != 'tax_paid' && field.name != 'ni' && field.name != 'working_tax_credit'"
      )

  = partial 'action', locals: { button_label: 'Continue' }
