go-back-link

h1 Your income

form name="incomeForm" ng-submit="submit(incomeForm)"
  div(
    ng-repeat="item in income"
    ng-if="item.me || item.partner && hasPartner && !isSeparatedPartner"
  )
    h3 ng-if="item.partner && !isSeparatedPartner" Your partner’s income
    fieldset ng-repeat="set in item"
      / Wages & benefits
      dl(
        ng-repeat="field in set"
        ng-if="(field.name == 'earnings' && isWorking) || (field.name == 'benefits' && hasBenefits)"
      )
        dt
          = label_tag '{{field.name}}', caption: '{{field.label}}'
          help-text field="field"
        dd
          input.form-control.m-small>(
            type="{{field.type}}"
            id="{{field.name}}"
            min="{{field.min}}"
            max="{{field.max}}"
            pattern="{{field.pattern}}"
            title="{{field.title}}"
            ng-model="field.value"
            ng-required="true"
            delimited-number
          )
          select.form-control(
            ng-model="field.frequency.value"
            ng-options="o.name as o.label for o in field.frequency.options"
          )
      / All other incomes
      dl ng-repeat="field in set" ng-if="field.name != 'earnings' && field.name != 'benefits'"
        dt
          = label_tag '{{field.name}}', caption: '{{field.label}}'
          help-text field="field"
        dd
          input.form-control.m-small>(
            type="{{field.type}}"
            id="{{field.name}}"
            min="{{field.min}}"
            max="{{field.max}}"
            pattern="{{field.pattern}}"
            title="{{field.title}}"
            ng-model="field.value"
            ng-required="true"
            delimited-number
          )
          select.form-control(
            ng-model="field.frequency.value"
            ng-options="o.name as o.label for o in field.frequency.options"
          )

  = partial 'action', locals: { button_label: 'Continue' }
