go-back-link

markdown:
  # What do you need help with?

  Choose one of the options below.

.notice
  p If you have more than one problem, you can complete this service more than once.
  p If you’re really not sure what to choose, ask us to #{link_to 'call you back', 'http://callmeback.justice.gov.uk/', target: '_blank'}.

form(name="problemForm" ng-submit="submit(problemForm)" novalidate)
  h2 {{problemForm.submitted}}
  .error(scroll-to ng-if="problemForm.submitted && problemForm.$invalid")
    p Please select one option

  dl ng-repeat="field in categories.list|filter:'!none'|orderBy:'label'"
    dd
      label.m-block ng-class="{'s-selected' : field.name == categories.selected}"
        input>(
          type="radio"
          value="{{field.name}}"
          name="category"
          ng-model="categories.selected"
          ng-required="true"
        )
        span {{field.label}}
        help-text field="field"
  dl ng-repeat="field in categories.list|filter:'none'"
    dd
      label.m-block ng-class="{'s-selected' : field.name == categories.selected}"
        input>(
          type="radio"
          value="{{field.name}}"
          name="category"
          ng-model="categories.selected"
          ng-required="true"
        )
        span {{field.label}}
        help-text field="field"

  = partial 'action', locals: { button_label: 'Continue' }
