@charset "UTF-8";
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
.PageHeader {
  padding: 40px 0 0; }
  .PageHeader p {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .PageHeader p {
        font-size: 16px;
        line-height: 1.25; } }

h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 13px;
  font-weight: 700; }
  @media (max-width: 640px) {
    h1 {
      font-size: 32px;
      line-height: 1.09375; } }

h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-top: 6px;
  padding-bottom: 9px;
  font-weight: 700; }
  @media (max-width: 640px) {
    h2 {
      font-size: 24px;
      line-height: 1.04167; } }

h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    h3 {
      font-size: 24px;
      line-height: 1.04167; } }

h4 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    h4 {
      font-size: 20px;
      line-height: 1.2; } }

p, ul, ol, blockquote {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    p, ul, ol, blockquote {
      font-size: 16px;
      line-height: 1.25; } }

section p {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px; }
section ul, section ol {
  padding-left: 30px; }
section ol li {
  list-style: decimal; }

.u-HorLine {
  border: 0;
  margin: 30px 0;
  background-color: #C2C2C2;
  height: 1px; }

.TextIcon {
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 81px; }

.TextIcon--tick {
  background-image: url("../images/icons/tick.png"); }
  .svg .TextIcon--tick {
    background-image: url("../images/icons/tick.svg"); }

.TextIcon--cross {
  background-image: url("../images/icons/cross.png"); }
  .svg .TextIcon--cross {
    background-image: url("../images/icons/cross.svg"); }

.IconRow {
  padding-left: 28px;
  background-position: left 7px;
  background-repeat: no-repeat; }

.IconRow--name {
  background-image: url("../images/icons/user.png"); }
  .svg .IconRow--name {
    background-image: url("../images/icons/user.svg"); }

.IconRow--address {
  background-image: url("../images/icons/house.png"); }
  .svg .IconRow--address {
    background-image: url("../images/icons/house.svg"); }

.IconRow--phone {
  background-image: url("../images/icons/phone.png"); }
  .svg .IconRow--phone {
    background-image: url("../images/icons/phone.svg"); }

.IconRow--email {
  background-image: url("../images/icons/email.png"); }
  .svg .IconRow--email {
    background-image: url("../images/icons/email.svg"); }

.IconRow--comments {
  background-image: url("../images/icons/comments.png"); }
  .svg .IconRow--comments {
    background-image: url("../images/icons/comments.svg"); }

.Grid .Grid-col {
  float: left;
  width: 100%; }
  .Grid .Grid-col--1-3 {
    width: 32.35294%;
    margin-right: 1.47059%; }
    .Grid .Grid-col--1-3:last-child {
      margin-right: 0; }
  .Grid .Grid-col--2-3 {
    width: 66.17647%;
    margin-right: 1.47059%; }
    .Grid .Grid-col--2-3:last-child {
      margin-right: 0; }
.Grid .Grid-colPush--1-3 {
  margin-left: 32.35294%; }
.Grid .Grid-colPush--2-3 {
  margin-left: 66.17647%; }

.FormBlock {
  margin: 0; }
  .FormBlock--grey {
    padding: 1.5em 3.125em;
    margin: 0 0 2em;
    border-width: 1px 0;
    border-color: #c2c2c2;
    border-style: solid;
    background-color: #f8f8f8; }

.FormBlock-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  margin-bottom: 10px; }
  @media (max-width: 640px) {
    .FormBlock-label {
      font-size: 20px;
      line-height: 1.2; } }
  .FormBlock-label--inline {
    margin-right: 10px;
    float: left; }

.FormBlock-actions {
  margin-top: -15px;
  margin-bottom: 2em; }

.FormRow {
  margin: 20px 0;
  padding: 0;
  position: relative;
  clear: both; }
  .FormRow label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .FormRow label {
        font-size: 16px;
        line-height: 1.25; } }
  .FormRow .FormRow-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin: 0 0 5px;
    padding: 0 0 0 0;
    display: block; }
    @media (max-width: 640px) {
      .FormRow .FormRow-label {
        font-size: 16px;
        line-height: 1.25; } }
    .FormRow .FormRow-label--odd {
      background-color: #f1f1f1; }
  .FormRow .FormRow-inner {
    padding: 10px 60px 0;
    margin: 10px 0 0; }
    .FormRow .FormRow-inner label {
      display: block;
      margin: 0 0 15px; }
  .FormRow .FormRow-prefix,
  .FormRow .FormRow-suffix {
    display: inline-block;
    float: left;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: 1px solid #c2c2c2;
    text-align: center;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .FormBlock .FormRow .FormRow-prefix, .FormBlock
    .FormRow .FormRow-suffix {
      background: #f8f8f8; }
  .FormRow .FormRow-prefix {
    border-right: 0; }
  .FormRow .FormRow-suffix {
    border-left: 0; }
  .FormRow .FormRow-help {
    display: block;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    padding-top: 3px;
    margin-left: 15px; }
  .FormRow input[type=text],
  .FormRow input[type=password],
  .FormRow input[type=number] {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-size: 23px;
    border: 1px solid #c2c2c2;
    padding: 2px 4px;
    margin: 0;
    height: 32px;
    display: inline-block;
    float: left;
    width: 230px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 640px) {
      .FormRow input[type=text],
      .FormRow input[type=password],
      .FormRow input[type=number] {
        font-size: 20px;
        line-height: 1.2; } }
  .FormRow textarea {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #c2c2c2;
    padding: 2px 4px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 640px) {
      .FormRow textarea {
        font-size: 20px;
        line-height: 1.2; } }
  .FormRow input.FormRow-field--l,
  .FormRow textarea.FormRow-field--l {
    width: 420px; }
  .FormRow input.FormRow-field--s,
  .FormRow textarea.FormRow-field--s {
    width: 100px; }
  .FormRow input.FormRow-field--xs,
  .FormRow textarea.FormRow-field--xs {
    width: 50px; }
  .FormRow .Grid-col--1-3 .FormRow-prefix,
  .FormRow .Grid-col--1-3 .FormRow-suffix {
    width: 11.5942%; }
  .FormRow .Grid-col--1-3 input[type=text],
  .FormRow .Grid-col--1-3 input[type=password],
  .FormRow .Grid-col--1-3 input[type=number] {
    width: 82.4058%; }
  .FormRow input[type=number]::-webkit-inner-spin-button,
  .FormRow input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .FormRow .FormRow-option {
    display: block;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 1px 30px 0 0; }
    .FormRow .FormRow-option.is-selected {
      background-color: #d5e8f4; }
    .FormRow .FormRow-option.is-focused {
      outline: 3px solid #ffbf47;
      position: relative;
      z-index: 1; }
      .FormRow .FormRow-option.is-focused input:focus {
        outline: none;
        background: none; }
    .FormRow .FormRow-option input {
      margin-right: 20px; }
  .FormRow .QuestionPrompt-answer {
    margin: 0; }
  .FormRow--group {
    margin: 0 0 1px;
    padding: 0; }
    .FormRow--group .FormRow-label {
      padding: 25px;
      margin: 0;
      display: block;
      position: relative; }
      .FormRow--group .FormRow-label.is-selected {
        background-color: #d5e8f4; }
      .FormRow--group .FormRow-label.is-focused {
        outline: 3px solid #ffbf47;
        position: relative;
        z-index: 1; }
        .FormRow--group .FormRow-label.is-focused input:focus {
          outline: none;
          background: none; }
      .FormRow--group .FormRow-label input {
        margin-right: 20px; }
    .FormRow--group:first-child {
      margin-top: 25px; }
    .FormRow--group:last-child {
      margin-bottom: 25px; }
  .FormRow--details {
    border-bottom: 1px solid transparent; }
    .FormRow--details .FormRow-label {
      padding-right: 145px; }
    .FormRow--details details summary {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2; }
    .FormRow--details.FormRow--group details summary {
      top: 25px;
      right: 25px; }
    .FormRow--details.FormRow--group details div {
      padding-left: 60px;
      padding-right: 60px; }
  .FormRow--help .Grid-col--1-3 input[type=text],
  .FormRow--help .Grid-col--1-3 input[type=password],
  .FormRow--help .Grid-col--1-3 input[type=number] {
    width: 47.4058%; }
  .FormRow--help .Grid-col--1-3 .FormRow-help {
    width: 35%; }
  .FormRow--inline .FormRow-label {
    float: left;
    width: 200px;
    margin: 0;
    padding-top: 5px; }
  .FormRow--inline select,
  .FormRow--inline input[type=text],
  .FormRow--inline input[type=password],
  .FormRow--inline input[type=number],
  .FormRow--inline textarea {
    float: left; }
  .FormRow.QuestionPrompt--active .FormRow-label {
    font-weight: 700; }

.FieldGroup {
  padding-bottom: 15px; }
  .FieldGroup .FieldGroup-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .FieldGroup .FieldGroup-label {
        font-size: 16px;
        line-height: 1.25; } }
  .FieldGroup .FormRow-label {
    text-indent: 40px; }

.FormActions {
  margin: 50px 0 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .FormActions {
      font-size: 16px;
      line-height: 1.25; } }

.ErrorSummary {
  background-color: #faebec;
  border: 3px solid #df3034;
  padding: 1.5em 2em 1em;
  margin-top: 1em;
  margin-bottom: 3em; }
  .ErrorSummary .ErrorSummary-heading {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
      .ErrorSummary .ErrorSummary-heading {
        font-size: 20px;
        line-height: 1.2; } }
  .ErrorSummary p {
    padding: 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      .ErrorSummary p {
        font-size: 14px;
        line-height: 1.14286; } }
  .ErrorSummary .ErrorSummary-list {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    color: #df3034;
    padding-left: 0; }
    @media (max-width: 640px) {
      .ErrorSummary .ErrorSummary-list {
        font-size: 14px;
        line-height: 1.14286; } }
  .ErrorSummary .ErrorSummary-listItem {
    margin: 0 0 0.25em;
    list-style: none; }
    .ErrorSummary .ErrorSummary-listItem a {
      color: #df3034;
      text-decoration: none; }
      .ErrorSummary .ErrorSummary-listItem a:hover {
        text-decoration: underline; }

.Error {
  background-color: #faebec;
  border-left: 3px solid #df3034;
  padding: 1em 1em;
  margin-left: -1em;
  margin-right: -1em; }
  .Error details summary {
    top: 1em;
    right: 1em; }
  .Error .FormRow-label {
    background-color: transparent; }
  .Error.FormRow--group {
    padding: 0; }

.Error-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  display: block;
  padding: 0.2em 0;
  color: #df3034; }
  @media (max-width: 640px) {
    .Error-message {
      font-size: 14px;
      line-height: 1.14286; } }

.FormBlock--grey.FieldsetError {
  background-color: #fdf8f5; }
.FormBlock--grey .Error {
  margin-left: -3.125em;
  margin-right: -3.125em;
  padding-left: 3.125em;
  padding-right: 3.125em; }

.Button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  border-bottom: 2px solid #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  .Button:visited {
    background-color: #00823b; }
  .Button:hover, .Button:focus {
    background-color: #00692f; }
  .Button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .Button.disabled, .Button[disabled="disabled"], .Button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .Button.disabled:hover, .Button[disabled="disabled"]:hover, .Button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .Button.disabled:active, .Button[disabled="disabled"]:active, .Button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518;
      border-bottom: 2px solid #003518; }
  .Button:hover, .Button:focus, .Button:visited {
    color: white; }
  .Button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .Button:active:before {
    top: -10%;
    height: 120%; }
  .Button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .Button[type="submit"], .Button[type="reset"], .Button[type="button"] {
    filter: chroma(color=black); }
  .Button[type=submit].button {
    filter: none; }
  @media (max-width: 640px) {
    .Button {
      font-size: 16px;
      line-height: 1.25; } }
  .Button:link {
    color: white; }
  .Button + * {
    margin-left: 20px; }
  .Button--secondary {
    background-color: #dee0e2;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
    border-bottom: 2px solid #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    .Button--secondary:visited {
      background-color: #dee0e2; }
    .Button--secondary:hover, .Button--secondary:focus {
      background-color: #d0d3d6; }
    .Button--secondary:active {
      top: 2px;
      -webkit-box-shadow: 0 0 0 #dee0e2;
      -moz-box-shadow: 0 0 0 #dee0e2;
      box-shadow: 0 0 0 #dee0e2; }
    .Button--secondary.disabled, .Button--secondary[disabled="disabled"], .Button--secondary[disabled] {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }
      .Button--secondary.disabled:hover, .Button--secondary[disabled="disabled"]:hover, .Button--secondary[disabled]:hover {
        cursor: default;
        background-color: #dee0e2; }
      .Button--secondary.disabled:active, .Button--secondary[disabled="disabled"]:active, .Button--secondary[disabled]:active {
        top: 0;
        -webkit-box-shadow: 0 2px 0 #b5babe;
        -moz-box-shadow: 0 2px 0 #b5babe;
        box-shadow: 0 2px 0 #b5babe;
        border-bottom: 2px solid #b5babe; }
    .Button--secondary:hover, .Button--secondary:focus, .Button--secondary:visited {
      color: #0b0c0c; }
    .Button--secondary:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0; }
    .Button--secondary:active:before {
      top: -10%;
      height: 120%; }
    .Button--secondary[rel="external"]:after {
      display: none;
      content: none;
      margin-left: 0;
      margin-right: 0; }
    .Button--secondary[type="submit"], .Button--secondary[type="reset"], .Button--secondary[type="button"] {
      filter: chroma(color=black); }
    .Button--secondary[type=submit].button {
      filter: none; }
    @media (max-width: 640px) {
      .Button--secondary {
        font-size: 16px;
        line-height: 1.25; } }
    .Button--secondary:link {
      color: #0b0c0c; }
  .Button--warning {
    background-color: #b10e1e;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #6a0812;
    -moz-box-shadow: 0 2px 0 #6a0812;
    box-shadow: 0 2px 0 #6a0812;
    border-bottom: 2px solid #6a0812;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    .Button--warning:visited {
      background-color: #b10e1e; }
    .Button--warning:hover, .Button--warning:focus {
      background-color: #990c1a; }
    .Button--warning:active {
      top: 2px;
      -webkit-box-shadow: 0 0 0 #b10e1e;
      -moz-box-shadow: 0 0 0 #b10e1e;
      box-shadow: 0 0 0 #b10e1e; }
    .Button--warning.disabled, .Button--warning[disabled="disabled"], .Button--warning[disabled] {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }
      .Button--warning.disabled:hover, .Button--warning[disabled="disabled"]:hover, .Button--warning[disabled]:hover {
        cursor: default;
        background-color: #b10e1e; }
      .Button--warning.disabled:active, .Button--warning[disabled="disabled"]:active, .Button--warning[disabled]:active {
        top: 0;
        -webkit-box-shadow: 0 2px 0 #6a0812;
        -moz-box-shadow: 0 2px 0 #6a0812;
        box-shadow: 0 2px 0 #6a0812;
        border-bottom: 2px solid #6a0812; }
    .Button--warning:hover, .Button--warning:focus, .Button--warning:visited {
      color: white; }
    .Button--warning:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0; }
    .Button--warning:active:before {
      top: -10%;
      height: 120%; }
    .Button--warning[rel="external"]:after {
      display: none;
      content: none;
      margin-left: 0;
      margin-right: 0; }
    .Button--warning[type="submit"], .Button--warning[type="reset"], .Button--warning[type="button"] {
      filter: chroma(color=black); }
    .Button--warning[type=submit].button {
      filter: none; }
    @media (max-width: 640px) {
      .Button--warning {
        font-size: 16px;
        line-height: 1.25; } }
    .Button--warning:link {
      color: white; }
  .Button--text {
    background-color: transparent;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 transparent;
    -moz-box-shadow: 0 2px 0 transparent;
    box-shadow: 0 2px 0 transparent;
    border-bottom: 2px solid transparent;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: white;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    color: #005ea5;
    text-decoration: underline; }
    .Button--text:visited {
      background-color: transparent; }
    .Button--text:hover, .Button--text:focus {
      background-color: transparent; }
    .Button--text:active {
      top: 2px;
      -webkit-box-shadow: 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent; }
    .Button--text.disabled, .Button--text[disabled="disabled"], .Button--text[disabled] {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }
      .Button--text.disabled:hover, .Button--text[disabled="disabled"]:hover, .Button--text[disabled]:hover {
        cursor: default;
        background-color: transparent; }
      .Button--text.disabled:active, .Button--text[disabled="disabled"]:active, .Button--text[disabled]:active {
        top: 0;
        -webkit-box-shadow: 0 2px 0 transparent;
        -moz-box-shadow: 0 2px 0 transparent;
        box-shadow: 0 2px 0 transparent;
        border-bottom: 2px solid transparent; }
    .Button--text:hover, .Button--text:focus, .Button--text:visited {
      color: white; }
    .Button--text:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0; }
    .Button--text:active:before {
      top: -10%;
      height: 120%; }
    .Button--text[rel="external"]:after {
      display: none;
      content: none;
      margin-left: 0;
      margin-right: 0; }
    .Button--text[type="submit"], .Button--text[type="reset"], .Button--text[type="button"] {
      filter: chroma(color=black); }
    .Button--text[type=submit].button {
      filter: none; }
    @media (max-width: 640px) {
      .Button--text {
        font-size: 16px;
        line-height: 1.25; } }
    .Button--text:visited {
      color: #2e8aca; }
    .Button--text:hover {
      color: #2e8aca; }
    .Button--text:active {
      color: #2e8aca; }

details {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block; }
  @media (max-width: 640px) {
    details {
      font-size: 16px;
      line-height: 1.25; } }
  details summary {
    display: block;
    color: #005ea5;
    cursor: pointer;
    text-decoration: underline; }
    details summary:focus {
      background-color: #ffbf47;
      outline: 3px solid #ffbf47; }
  details div {
    display: none;
    border-left: 3px solid #ccc;
    padding: 0 30px;
    margin-top: 10px;
    margin-bottom: 25px; }
    details div p, details div ul, details div ol {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px; }
  details[open] div {
    display: block; }

.no-details details summary:before {
  content: "►";
  float: left;
  width: 25px;
  font-size: 0.8em;
  line-height: 1.7em; }
.no-details details.open summary:before {
  content: "▼ "; }

.Notice {
  border-left: 3px solid #f47738;
  background-color: #fef6f1;
  padding: 12px 40px;
  margin: 15px 0 40px; }

.Figure {
  margin: 0; }

.Figure-cap {
  padding-top: 4px;
  padding-bottom: 4px; }

.Quote {
  margin: 0;
  padding: 4px 0; }
  .Quote p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 5px; }
  .Quote:before {
    content: '\201C';
    content: open-quote; }
  .Quote:after {
    content: '\201D';
    content: close-quote; }

.SummaryBlock {
  position: relative; }

.SummaryBlock-heading {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .SummaryBlock-heading {
      font-size: 20px;
      line-height: 1.2; } }

.SummaryBlock-list {
  background-color: #E8F0F0;
  padding: 1.2em 1.6em;
  margin: 0 0 1em;
  border-top: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
  list-style: none; }
  .SummaryBlock-list li, .SummaryBlock-list p {
    padding: 0.5em 0; }

.SummaryBlock-edit {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  position: absolute;
  top: 9px;
  right: 0; }
  @media (max-width: 640px) {
    .SummaryBlock-edit {
      font-size: 16px;
      line-height: 1.25; } }
  .SummaryBlock-edit:link, .SummaryBlock-edit:visited {
    color: #0b0c0c; }
  .SummaryBlock-edit:hover {
    color: #2e8aca; }

.CommentBlock {
  margin: 0 0 20px; }

.CommentBlock-author {
  padding-top: 2px;
  float: right; }

.SubTotal {
  font-weight: 700;
  border-style: solid;
  border-color: #979797;
  border-width: 1px 0;
  line-height: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 10px; }
  .SubTotal .SubTotal-symbol {
    padding: 0 13px; }

body.js-enabled .Conditional .Conditional-label {
  display: none; }

.ProgressIndicator {
  list-style: none;
  background: #f3f9fd;
  border: 1px solid #e0eef8;
  width: 100%;
  padding: 0;
  margin: 40px 0;
  display: table; }
  .ProgressIndicator .ProgressIndicator-step {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: table-cell;
    color: #6f777b;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0 30px 0 15px;
    height: 51px;
    position: relative;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("../images/progress-indicator/chevron.png"); }
    @media (max-width: 640px) {
      .ProgressIndicator .ProgressIndicator-step {
        font-size: 16px;
        line-height: 1.25; } }
    .svg .ProgressIndicator .ProgressIndicator-step {
      background-image: url("../images/progress-indicator/chevron.svg"); }
    .ProgressIndicator .ProgressIndicator-step .ProgressIndicator-tick {
      background-position: right center;
      background-repeat: no-repeat;
      background-image: url("../images/progress-indicator/tick.png");
      padding-right: 22px; }
      .svg .ProgressIndicator .ProgressIndicator-step .ProgressIndicator-tick {
        background-image: url("../images/progress-indicator/tick.svg"); }
    .ProgressIndicator .ProgressIndicator-step:last-child, .svg .ProgressIndicator .ProgressIndicator-step:last-child {
      padding-right: 15px;
      background-image: none; }
      .ProgressIndicator .ProgressIndicator-step:last-child.is-active, .svg .ProgressIndicator .ProgressIndicator-step:last-child.is-active {
        background-image: none; }
    .ProgressIndicator .ProgressIndicator-step.is-complete {
      color: #2c8cc5;
      font-weight: 700; }
      .ProgressIndicator .ProgressIndicator-step.is-complete a {
        color: #2c8cc5;
        text-decoration: none; }
        .ProgressIndicator .ProgressIndicator-step.is-complete a:hover {
          text-decoration: underline; }
    .ProgressIndicator .ProgressIndicator-step.is-active {
      color: #fff;
      font-weight: 700;
      background-color: #2c8cc5;
      background-image: url("../images/progress-indicator/chevron--active.png"); }
      .svg .ProgressIndicator .ProgressIndicator-step.is-active {
        background-image: url("../images/progress-indicator/chevron--active.svg"); }
    .ProgressIndicator .ProgressIndicator-step.is-previous {
      background-image: url("../images/progress-indicator/chevron--previous.png"); }
      .svg .ProgressIndicator .ProgressIndicator-step.is-previous {
        background-image: url("../images/progress-indicator/chevron--previous.svg"); }

.v-StartPage .PageHeader {
  padding-top: 60px;
  padding-bottom: 30px; }
  .v-StartPage .PageHeader p {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 640px) {
      .v-StartPage .PageHeader p {
        font-size: 20px;
        line-height: 1.2; } }
.v-StartPage h2 {
  font-size: 32px;
  padding-top: 18px;
  padding-bottom: 0; }

.v-Result .PageHeader {
  padding-bottom: 20px; }
.v-Result form > p {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .v-Result form > p {
      font-size: 20px;
      line-height: 1.2; } }
.v-Result .FormActions {
  margin-top: 0;
  margin-bottom: 70px; }

.v-Confirmation .PageHeader {
  padding-top: 60px;
  padding-bottom: 60px; }
  .v-Confirmation .PageHeader h1 {
    padding-bottom: 0; }
  .v-Confirmation .PageHeader p {
    font-size: 32px; }

.Error.FormRow--group details summary {
  right: 4em; }

.indicator--dev {
  background-color: #2b8cc4 !important; }
