markdown:
  # Can I get legal aid?
  Check if you might be able to get legal aid in England and Wales.

  If you’ve been charged with a crime, don’t use this checker - ask your solicitor about criminal legal aid.

  ## What is legal aid?

  Legal aid can help you:

  * cover the cost of legal advice
  * get someone to speak for you in court
  * resolve family problems without going to court

  Visit #{link_to 'Citizens Advice'} to find out more.

  ## Who can get legal aid?

  You'll only get legal aid if you have:

  * less than £2,657 a month coming in before tax AND
  * less than £8,000 in savings or in a home you own

  This includes your partner’s money if you live together.

  ## Before you start

  To use this tool, you’ll need:

  * your payslips (if you’re working)
  * your bank statements
  * details of any benefits you get

  You can complete the checker without providing any information that could identify you.
  Everything you tell us is confidential and will not be shared.

  The checker takes about 10 minutes to complete.

p.action
  = link_to 'Start', '#/problem', class: 'button button-get-started'
